# Ignore CMake build directories
/cmake-build-debug/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# Ignore compiled and linked C++ files
*.o
*.a
*.so
*.dll
*.dylib

# Ignore JetBrains IDE settings
.idea/
